<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Formulário Vue Básico</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <form @submit.prevent="gerarMensagem">
      <label>Nome:</label>
      <input type="text" v-model="nome"><br>

      <label>Idade:</label>
      <input type="number" v-model="idade"><br>

      <label>Peso:</label>
      <input type="number" v-model="peso"><br>

      <label>Altura:</label>
      <input type="number" v-model="altura" step="0.01"><br>

      <label>Tipo sanguíneo:</label>
      <select v-model="tipoSanguineo">
        <option disabled value="">Selecione</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>AB+</option>
        <option>AB-</option>
        <option>O+</option>
        <option>O-</option>
      </select><br>

      <button type="submit">Enviar</button>
    </form>

    <div v-html="mensagem"></div>
  </div>

  <script>
    const { createApp, ref } = Vue;

    createApp({
      setup() {
        const nome = ref('');
        const idade = ref('');
        const peso = ref('');
        const altura = ref('');
        const tipoSanguineo = ref('');
        const mensagem = ref('');

        const gerarMensagem = () => {
          mensagem.value = '';
        };

        return {
          nome,
          idade,
          peso,
          altura,
          tipoSanguineo,
          mensagem,
          gerarMensagem
        };
      }
    }).mount('#app');
  </script>
</body>
</html>
